* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

.menu-hamburger {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    z-index: 4;
    text-align: center;
}

.menu-toggle {
    display: none;
}

.menu-icon {
    width: 35px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    position: relative;
    cursor: pointer;
    align-items: center;
    bottom: 6px;
}

.linha {
    width: 30px;
    height: 4px;
    background-color: #7b2ff7;
    border-radius: 2px;
    transition: 0.3s;
}

.overlay {
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    z-index: 2;
    transform: scale(0);
    transition: 0.5s; */

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 4;
    transform: scale(0);
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {
    flex-direction: column;
    width: 100%;
    height: auto;
    position: static;
    transform: none;
}

.menu ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.menu li {
    margin: 0 8px;
    border-radius: 30px;
    display: inline-block;
}

.menu a {
    text-decoration: none;
    font-size: 2rem;
    color: #7b2ff7;
    transition: 0.3s;
    font-weight: bold;
    padding: 10px;
    border-radius: 18px;
    border: #7b2ff7 2px solid;
}

.menu a:hover {
    color: #fff;
}

.menu .botoesSite {
    justify-content: center;
}

/* Animação */
#menu-toggle:checked+.menu-icon .linha:nth-child(1) {
    transform: rotate(45deg) translate(13px, 13px);
}

#menu-toggle:checked+.menu-icon .linha:nth-child(2) {
    opacity: 0;
}

#menu-toggle:checked+.menu-icon .linha:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

#menu-toggle:checked~.overlay {
    transform: scale(1);
}

@media (min-width: 768px) {
    .menu-hamburger {
        display: none;
    }
}

.botoesSite {
    display: flex;
    flex-direction: row;
    gap: 15px;
}